@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
 
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #d0ccd1 #ffffff;
    scroll-behavior: smooth;

  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 2px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #f8f8f8;
    border-radius: 10px;
  }
  body{
 background-color: rgb(32, 32, 32);
  }
