.equipmentitem{
    width:15rem;
    min-height: 15rem;
    height: max-content;
    z-index: 123;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 15px;
    position: relative;
    transition: all 0.2s ease-in-out;
    cursor: default;
    backdrop-filter: blur(10px);
    margin: 1rem;
    z-index: 23;
    transition: all 0.5s ease-in-out;
    zoom: 0.9;
    &__header{
        display: flex;
        justify-content: center;
    }
    
   &:hover{
    box-shadow: 0 0 20px 5px !important;
    .equipmentitem__tooltip{
       opacity: 1;
    }
   }
   &__tooltip{
    position: absolute;
    width: 15rem;
    height: 12rem;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    right: -13rem;
    z-index: 3212;
    background-color: black;
   }
    &__img{
        width: max-content;
        margin-right: 1rem;
        height: max-content;
    }
    &__name{
        width: 100%;
        height: max-content;
        font-size: 10px;
        font-weight: bolder;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-shadow: 0 0 2px black;

        
    }
    &__stats{
        height: 100%;
        width: 100%;
        padding-top: 1rem;

        &:hover{
          
        }

        &__tooltip{
            height: 100%;
        width: 100%;
        padding-top: 1rem;
        }
    }
}
.equipmentitem__desc{
    width:15rem;
    min-height: 15rem;
    height: max-content;
    z-index: 123;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 15px;
    position: relative;
    transition: all 0.2s ease-in-out;
    cursor: default;
    backdrop-filter: blur(10px);
    margin: 1rem;
    z-index: 23;
    transition: all 0.5s ease-in-out;
    zoom: 0.9;

    & .item__spell{
        display: none;
    }
    &:hover{
        background-color: black;
        height: max-content;
        font-weight: bolder;
        & .item__stats{
            display: none;
        }

        & .item__spell{
            display: block;
        }
    }
    
}
